/* * {
    margin: 1%;
    padding: 1%;
} */

body {
    max-width: 640px;
    margin: 1% auto;
    border: 1px solid #000;
}

#controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 1px solid #93a1a1;
    background-color: #eee;
}
#controls > button {
    margin: 2%;
    padding: 1%;
    background-color: #ccc;
    font-size: 2em;
    font-family: monospace;
    cursor: pointer;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 10px;
    background-color: #eee;
    border: 1px solid #93a1a1;
}

.die {
    display: flex;
}
.die > span {
    /* margin: auto; */
    font-size: 10em;
}